i.fa-brands{
    padding:8px;
    font-size: 24px;
}
@media (min-width: 768px) {

    .md\:grid-cols-2 {
      grid-template-columns: repeat(4, minmax(0, 1fr))!important;
    }
}
.background-image{
  background-image:url("http://localhost:8000/image/keyboard.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:1080px;
}